* {
    /* border: red solid 1px; */
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin: 0; */
}

body {
    /* background-color: rgba(232, 230, 230,1); */

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcecfc+0,f977d0+53,fcecfc+100 */
    background: rgb(252, 236, 252);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(252, 236, 252, 1) 0%, rgba(249, 119, 208, 1) 53%, rgba(252, 236, 252, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(252, 236, 252, 1) 0%, rgba(249, 119, 208, 1) 53%, rgba(252, 236, 252, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(252, 236, 252, 1) 0%, rgba(249, 119, 208, 1) 53%, rgba(252, 236, 252, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcecfc', endColorstr='#fcecfc', GradientType=0);
    /* IE6-9 */


}

.container {
    /* background-color: cyan; */
    padding: 1rem;
}

.blue-gradient { 
    background: rgb(183, 222, 237);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(183, 222, 237, 1) 0%, rgba(33, 180, 226, 1) 88%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(183, 222, 237, 1) 0%, rgba(33, 180, 226, 1) 88%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(183, 222, 237, 1) 0%, rgba(33, 180, 226, 1) 88%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b7deed', endColorstr='#21b4e2', GradientType=1);
    /* IE6-9 */
}

.headline {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.second {
/* background-color: yellow; */
}

.bullets {
    /* background-color: green; */
    /* margin-left: 2rem; */
    margin-bottom: 4rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}