* {
    /* border: red solid 1px; */
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

body {
    background-color: lightslategray;
}

.container {
    height: 100vh;
    background-image: url("http://placekitten.com/800/600");
    background-size: cover;
    background-color: azure;
    position: relative;
}

#left {
    background-color: rgba(28, 24, 24, 0.5);
    display: inline-block;
    left: 0;
    top: 0;
    position: absolute;
    margin: 5rem 5rem 0 5rem;
    padding: 5rem;
    border-radius: 1rem;
    color: rgb(200, 200, 200);
    box-shadow: 1rem 1rem 0.5rem 0 black;

}
#right {
    display: inline-block;
    right: 0;
    top: 0;
    position: absolute;
    /* margin: 5rem 5rem 0 5rem; */
    text-align: center;
    padding: 2rem;
    height: 100%;
    background-color: rgba(28, 24, 24, 0.5);
}

ul {
    margin-top: 1rem;
    list-style: none;
}

img {
    border-radius: 50%;
}

h4 {
    margin-top: 5rem;
}